<div class="content__toolbar">
  <mat-toolbar class="toolbar">
    <h1 class="logo">
      <img src="assets/images/logo.svg">
    </h1>
    <span class="example-spacer"></span>

    <mat-icon class="content__icon">
      <a mat-list-item>
        <i class="material-icons icon--header">notifications</i>
      </a>
      <div class="cicle"></div>
    </mat-icon>

    <mat-icon>
      <a mat-list-item>
        <i class="material-icons icon--header">account_circle</i>
      </a>
    </mat-icon>
  </mat-toolbar>
</div>

