.content__toolbar {
  background: #f7f7f7;
}

.toolbar {
  max-width: 1170px;
  height: 88px;
  margin: auto;
  background: transparent;
  padding: 0;
}

.logo {
  width: 128px;
  height: 52px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.content__icon {
  position: relative;
  width: 20px;
  height: 24px;
  margin-right: 28px;
  cursor: pointer;
}

.icon--header {
  color: #636363;
  font-size: 25px;
  cursor: pointer;
}

.cicle {
  position: absolute;
  top: 3px;
  left: 13px;
  width: 8px;
  height: 8px;
  background-color: #48b8e0;
  border-radius: 50%;
}

