.container {
  max-width: 1170px;
  margin: auto;
  padding-bottom: 39px;
  background-color: #fff;
}

.sidenav {
  width: 270px;
  border: none;
  padding-top: 48px;
  transform: none;
  position: absolute;
}

.nav {
  width: 270px;
  height: 48px;
}

.nav > ul {
  list-style: none;
  padding: 0;
}

.nav > ul > li {
  width: 270px;
  height: 48px;
  display: flex;
  align-items: center;
}

.nav > ul > li:hover {
  background-color: #f5f5f5;
  color: #3296ba;
  border-radius: 5px;
}

.nav > ul > li > a {
  width: 270px;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #969696;
}

.nav > ul > li > a:hover {
  color: #3296BA;
}

.menu__item a::before {
  content: " ";
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  margin: 0 18px;
  filter: invert(64%) sepia(7%) saturate(7%) hue-rotate(340deg) brightness(93%) contrast(86%);
}

.menu__item a:hover::before {
  filter: invert(58%) sepia(71%) saturate(491%) hue-rotate(152deg) brightness(78%) contrast(81%);
}

.icon-home a::before {
  background: url(../../../assets/icons/home.svg) no-repeat;
}

.icon-fn-adm a::before {
  background: url(../../../assets/icons/insert_chart.svg) no-repeat;
}

.icon-consumption a::before {
  background: url(../../../assets/icons/dns.svg) no-repeat;
}

.icon-flat a::before {
  background: url(../../../assets/icons/description.svg) no-repeat;
}

.icon-payment a::before {
  background: url(../../../assets/icons/monetization_on.svg) no-repeat;
}

.icon-documents a::before {
  background: url(../../../assets/icons/documents.svg) no-repeat;
}

.content {
  padding: 0 30px;
  background-color: #fff;
}
