<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
    <mat-nav-list class="nav--list">
      <nav class="nav">
        <ul>
          <li class="menu__item icon-home">
            <a href="#">Home</a>
          </li>
          <li class="menu__item icon-fn-adm">
            <a href="#">Funcões administrativas</a>
          </li>
          <li class="menu__item icon-consumption">
            <a href="#">Consumo</a>
          </li>
          <li class="menu__item icon-flat">
            <a href="#">Plano</a>
          </li>
          <li class="menu__item icon-payment">
            <a href="#">Pagamento</a>
          </li>
          <li class="menu__item icon-documents">
            <a href="#">Documentos</a>
          </li>
        </ul>
      </nav>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <app-main></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>
