<div class="main__title">
  <h2>Bem-vindo ao Lexos My Account</h2>
  <p>
    Sua central de aplicativos, ferramentas e serviços Lexos
  </p>
</div>

<div class="main__content">
  <h2>Aplicativos</h2>
  <div class="card">
    <div class="flex__row">
      <div class="flexitem">
        <div class="flexitem__logo-hub">
          <img src="assets/images/lexos-hub.svg" alt="Lexos HUB" width="152" height="62">
        </div>
        <div class="flexitem__img-dashboard">
          <img src="assets/images/dashboard.svg" alt="Dashboard" width="225" height="183">
        </div>
      </div>

      <div class="flex__list">
        <div class="list">
          <a>Anuncie em múltiplos marketplaces</a>
          <a>Aumente suas vendas no e-commerce</a>
          <a>Reduza até 5 vezes o tempo de expedição</a>
          <a>Emita NF-e automaticamente</a>
          <a>Cresça sua reputação como vendedor</a>
        </div>
        <div class="button">
          <button class="btn">Acessar o Lexos Hub</button>
        </div>
      </div>
    </div>

    <div class="flat">
      <span>Você ainda tem 30 dias grátis para usar o Lexos Hub</span>
      <a href="#">Conheça os planos</a>
    </div>
  </div>

  <div class="box__erp">
    <div class="logo__erp">
      <img src="assets/images/lexos-erp.svg" alt="Logo ERP">
    </div>
    <div class="container__erp">
      <div class="text__erp">
        <p>Ainda não possui ERP? Conheça nosso software com mais de 2000 usuários ativos</p>
        <a href="#">Conheça o Lexos ERP</a>
      </div>
    </div>
  </div>

  <div class="container__article">
    <h2>Quer saber mais? Confira nossos artigos</h2>
    <div class="article">
      <div class="card__cafeteria">
        <div class="cafeteria__img">
          <div class="layer"></div>
        </div>
        <a href="#">
          <p>
            Como montar uma Lanchonete: Equipamentos, Modelos e Decoração
          </p>
        </a>
      </div>
      <div class="card__invoice">
        <div class="invoice__img">
          <div class="layer"></div>
        </div>
        <a href="#">
          <p>Como montar uma Lanchonete: Equipamentos, Modelos e Decoração</p>
        </a>
      </div>
    </div>
  </div>
</div>
