.main__title {
  background-color: #fff;
  padding-top: 49px;
  padding-bottom: 30px;
}

.main__title > h2 {
  display: block;
  margin: auto;
  width: 469px;
  height: 42px;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1px;
  color: #3296ba;
  line-height: 150%;
  text-align: center;
}

.main__title > p {
  display: block;
  margin: auto;
  width: 573px;
  height: 32px;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.1px;
  color: #3d3a3a;
  text-align: center;
  padding-top: 8px;
}

.main__content {
  width: 870px;
  height: 927px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.main__content h2 {
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.1px;
  color: #636363;
  padding: 16px 32px;
  margin: 0;
}

.card {
  position: relative;
  width: 806px;
  height: 412px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
}

.flex__row {
  display: flex;
  height: 295px;
}

.flexitem {
  width: 373px;
}

.flexitem__logo-hub {
  position: absolute;
  top: 32px;
  left: 120px;
}

.flexitem__img-dashboard {
  position: absolute;
  top: 107px;
  left: 85px;
}

.flex__list {
  width: 443px;
}

.list {
  padding-top: 56px;
}

.list > a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.1px;
  color: #3d3a3a;
}

.list > a::before {
  content: " ";
  display: flex;
  width: 14px;
  height: 14px;
  background: url(../../../assets/images/checked.svg);
  background-repeat: no-repeat;
  padding-right: 4px;
}

.button {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 47px;
  background: #e05e7c;
  border-radius: 5px;
  margin-left: 32px;
  margin-top: 37px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.button:hover {
  background-color: #c2415f;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.btn {
  font-weight: 600;
  font-size: 21px;
  letter-spacing: -0.1px;
  color: #ffffff;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.flat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 37px auto;
  width: 694px;
  height: 56px;
  border: 1px solid #e05e7c;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 16px 32px;
}

.flat > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.1px;
  color: #3d3a3a;
}

.flat > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.1px;
  text-decoration-line: underline;
  color: #48b8e0;
}

.flat > a:hover,
.text__erp > a:hover {
  color: #2480a1;
}

.box__erp {
  display: flex;
  margin: 32px auto;
  width: 806px;
  height: 126px;
  background: #ffffff;
  border-radius: 5px;
}

.text__erp {
  margin-left: 20px;
}

.logo__erp {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__erp img {
  width: 150px;
  height: 57px;
}

.container__erp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text__erp > p {
  width: 451px;
  height: 46px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.1px;
  color: #3d3a3a;
}

.text__erp > a {
  width: 176px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.1px;
  text-decoration-line: underline;
  color: #48b8e0;
  margin-top: 8px;
}

.container__article > h2 {
  padding: 0px 32px;
  margin-bottom: 17px;
}

.article {
  display: flex;
  justify-content: space-evenly;
  align-items: self-end;
}

.card__cafeteria,
.card__invoice {
  width: 387px;
  height: 181px;
  background: #ffffff;
  border-radius: 5px;
}

.cafeteria__img {
  background: url("../../../assets/images/cafeteria.svg") no-repeat;
  position: relative;
  width: 387px;
  height: 93px;
  border-radius: 5px 5px 0px 0px;
}

.invoice__img {
  background: url("../../../assets/images/invoice.svg") no-repeat;
  position: relative;
  width: 387px;
  height: 93px;
  border-radius: 5px 5px 0px 0px;
}

.layer {
  background-color: rgba(72, 184, 224, 1);
  width: 387px;
  height: 93px;
  opacity: 0.5;
}

.card__cafeteria > a,
.card__invoice > a {
  text-decoration: none;
}

.card__cafeteria > a:hover,
.card__invoice > a:hover {
  color: #2480a1;
  text-decoration: underline;
}

.card__cafeteria p,
.card__invoice p {
  width: 310px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.1px;
  color: #3d3a3a;
  margin: 12px auto;
}

.card__cafeteria p:hover,
.card__invoice p:hover {
  color: #2480a1;
}
